In [2]:
library(dplyr)

Attaching package: ‘dplyr’

The following object is masked from ‘package:stats’:

    filter

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
mdf = tbl_df(data.table::fread("../data/mdf.csv"))

Warning message:
In data.table::fread("../data/mdf.csv"): Bumped column 18 to type character on data row 790, field contains '"uncultured_bacterium"'. Coercing previously read values in this column from logical, integer or numeric back to character which may not be lossless; e.g., if '00' and '000' occurred before they will now be just '0', and there may be inconsistencies with treatment of ',,' and ',NA,' too (if they occurred in this column before the bump). If this matters please rerun and set 'colClasses' to 'character' for this column. Please note that column type detection uses the first 5 rows, the middle 5 rows and the last 5 rows, so hopefully this message should be very rare. If reporting to datatable-help, please rerun and include the output from verbose=TRUE.

Read 2195072 rows and 18 (of 18) columns from 0.435 GB file in 00:00:04

In [18]:
mdf %>%
    filter(Treatment %in% c("13CCPS", "13CXPS", "12CCPS")) %>%
    filter(Abundance > 0) %>%
    summarize(N_otu = length(unique(OTU)), 
              n_sample = length(unique(X.SampleID)),
              n_seqs = sum(Abundance))

Source: local data frame [1 x 3]

  N_otu n_sample  n_seqs
1  5940      289 1102685

In [19]:
mdf %>%
    filter(Treatment %in% c("13CCPS", "13CXPS", "12CCPS")) %>%
    filter(Abundance > 0) %>%
    mutate(bulk = ifelse(grepl("bulk", X.SampleID), "yes", "no")) %>%
    group_by(bulk) %>%
    summarize(N_otu = length(unique(OTU)), 
              n_sample = length(unique(X.SampleID)),
              n_seqs = sum(Abundance))

Source: local data frame [2 x 4]

  bulk N_otu n_sample  n_seqs
1   no  5915      277 1055523
2  yes  2943       12   47162